[Desktop Entry]
Name=Clipboard Monitor
Comment=Monitor de portapapeles con interfaz gráfica
Exec=/usr/local/bin/clipboard-monitor
Icon=/usr/share/icons/hicolor/256x256/apps/clipboard-monitor.png
Terminal=false
Type=Application
Categories=Utility;
